* text=auto

*.cs text diff=csharp
*.csproj text
*.sln text eol=crlf
*.props text
*.md text
*.json text
*.ps1 text

*.blend binary
*.blend1 binary
*.fbx binary
*.png binary
*.pdn binary
GungnirStaff/Assets/gungnir binary
